{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}{{ 'milhq.enlistment.enlist'|trans }}{% endblock %}
{% block body %}
    <div class="box">
        {% if successMessage is not empty %}
            <p class="mb-2">{{ successMessage|milhq_text }}</p>
        {% endif %}
        <p class="mb-4">
            {% if enlistmentTopic is not null %}
                {{ 'milhq.enlistment.pending_with_topic'|trans }}
            {% else %}
                {{ 'milhq.enlistment.pending'|trans }}
            {% endif %}
        </p>
        <div class="flex justify-center gap-4">
            {% if enlistmentTopic is not null %}
                <a class="btn-primary" href="{{ path('forumify_forum_topic', { slug: enlistmentTopic.slug }) }}">
                    {{ 'milhq.enlistment.topic'|trans }}
                </a>
            {% endif %}
            <a class="btn-outlined" href="{{ path('milhq_enlist', { force_new: true }) }}">{{ 'milhq.enlistment.start_new'|trans }}</a>
        </div>
    </div>
{% endblock %}
