{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}
    {% if soldier.rank %}{{ soldier.rank.abbreviation }} {% endif %}{{ soldier.name }}
{% endblock %}
{% block body %}
    <div class="flex justify-between mb-6">
        {% include '@ForumifyMilhqPlugin/frontend/soldier/components/header.html.twig' %}
        {% if soldier.user is not null %}
            <a class="btn-primary" href="{{ path('forumify_forum_profile', { username: soldier.user.username }) }}">
                {{ 'milhq.soldier.forum_profile'|trans }}
            </a>
        {% endif %}
    </div>
    {% if soldier.uniform %}
        <div class="text-center mb-4">
            <img style="max-height: 530px; max-width: 100%" src="{{ asset(soldier.uniform, 'milhq.asset') }}">
        </div>
    {% endif %}
    <div class="grid gap-4">
        <div class="col-xs-12 col-md-4 col-xl-3 flex flex-col gap-4">
            {% if soldier.rank %}
                <div class="card hide-phone">
                    <div class="card-title">{{ 'milhq.soldier.rank'|trans }}</div>
                    <div class="card-body flex flex-col items-center">
                        {% if soldier.rank.image %}
                            <img width="125px" height="auto" src="{{ asset(soldier.rank.image, 'milhq.asset') }}" alt="">
                        {% endif %}
                        <div class="text-small text-center">
                            <p>{{ soldier.rank.name }}</p>
                            <span class="text-bold">{{ soldier.rank.paygrade }}</span> | {{ soldier.rank.abbreviation }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-title">{{ 'milhq.soldier.assignment'|trans }}</div>
                <div class="card-body">
                    <div class="flex flex-col gap-2">
                        {% if soldier.specialty %}
                            <div>
                                <p class="text-bold">{{ 'milhq.soldier.specialty'|trans }}</p>
                                <p>{{ soldier.specialty.name }}</p>
                            </div>
                        {% endif %}
                        {% if soldier.unit %}
                            <div>
                                <p class="text-bold">{{ 'milhq.soldier.unit'|trans }}</p>
                                <p>{{ soldier.unit.name }}</p>
                            </div>
                        {% endif %}
                        {% if soldier.position %}
                            <div>
                                <p class="text-bold">{{ 'milhq.soldier.position'|trans }}</p>
                                <p>{{ soldier.position.name }}</p>
                            </div>
                        {% endif %}
                        {% if supervisors is not empty %}
                            <div>
                                <p class="text-bold">{{ 'milhq.soldier.supervisors'|trans }}</p>
                                <ul>
                                    {% for supervisor in supervisors %}
                                        <li>{{ supervisor.rank.abbreviation|default('') }} {{ supervisor.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if tis or tig %}
                <div class="card">
                    <div class="card-title">{{ 'milhq.soldier.length_in_service'|trans }}</div>
                    <div class="card-body flex flex-col">
                        {% if tis %}
                            <p class="text-bold">{{ 'milhq.soldier.time_in_service'|trans }}</p>
                            <p class="mb-2">
                                {{ [
                                    'date_relative.years'|trans({ count: tis.format('%y') }),
                                    'date_relative.months'|trans({ count: tis.format('%m') }),
                                    'date_relative.days'|trans({ count: tis.format('%d') })
                                ]|filter(v => v is not empty)|join(', ') }}
                            </p>
                        {% endif %}
                        {% if tig %}
                            <p class="text-bold">{{ 'milhq.soldier.time_in_grade'|trans }}</p>
                            <p class="mb-2">
                                {{ [
                                    'date_relative.years'|trans({ count: tig.format('%y') }),
                                    'date_relative.months'|trans({ count: tig.format('%m') }),
                                    'date_relative.days'|trans({ count: tig.format('%d') })
                                ]|filter(v => v is not empty)|join(', ') }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if setting('milhq.report_in.enabled') %}
                <div class="card">
                    <div class="card-title">
                        {{ 'milhq.soldier.last_report_in'|trans }}
                    </div>
                    <div class="card-body">
                        {% if reportInDate is not null %}
                            {{ reportInDate|format_date }}
                        {% else %}
                            {{ 'milhq.soldier.no_report_in'|trans }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <hr class="col-xs-12 hide-tablet hide-desktop">
        <div class="col-xs-12 col-md-8 col-xl-9">
            {% embed '@Forumify/components/tabs.html.twig' %}
                {% block tabs %}
                    <button class="btn-link" data-tab-id="assignment">{{ 'milhq.soldier.profile'|trans }}</button>
                    <button class="btn-link" data-tab-id="service-record">{{ 'milhq.soldier.service_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="award-record">{{ 'milhq.soldier.award_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="combat-record">{{ 'milhq.soldier.combat_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="rank-record">{{ 'milhq.soldier.rank_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="assignment-record">{{ 'milhq.soldier.assignment_record'|trans }}</button>
                    <button class="btn-link" data-tab-id="qualification-record">{{ 'milhq.soldier.qualifications'|trans }}</button>
                {% endblock %}
                {% block tabpanels %}
                    <div id="assignment">
                        {% include '@ForumifyMilhqPlugin/frontend/soldier/components/assignment.html.twig' %}
                    </div>
                    <div id="service-record">
                        {{ component('Milhq\\ServiceRecordTable', { soldier: soldier }) }}
                    </div>
                    <div id="award-record">
                        {{ component('Milhq\\AwardRecordTable', { soldier: soldier }) }}
                    </div>
                    <div id="combat-record">
                        {{ component('Milhq\\CombatRecordTable', { soldier: soldier }) }}
                    </div>
                    <div id="rank-record">
                        {{ component('Milhq\\RankRecordTable', { soldier: soldier }) }}
                    </div>
                    <div id="assignment-record">
                        {{ component('Milhq\\AssignmentRecordTable', { soldier: soldier }) }}
                    </div>
                    <div id="qualification-record">
                        {{ component('Milhq\\QualificationRecordTable', { soldier: soldier }) }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
