{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}{{ 'milhq.opcenter.operations_center'|trans }}{% endblock %}
{% block body %}
    <div class="flex justify-between mb-4">
        {% include '@ForumifyMilhqPlugin/frontend/soldier/components/header.html.twig' %}
        {% block opcenter_actions %}
            <a class="btn-primary" href="{{ path('milhq_soldier', { id: soldier.id }) }}">
                {{ 'milhq.opcenter.pfile'|trans }}
            </a>
        {% endblock %}
    </div>
    {% block opcenter_announcements %}
        {% if announcement %}
            <div class="mb-4">
                {{ announcement|rich }}
            </div>
        {% endif %}
    {% endblock %}
    {% embed '@Forumify/components/tabs.html.twig' %}
        {% block tabs %}
            <button class="btn-link" data-tab-id="submissions">{{ 'milhq.opcenter.submissions'|trans }}</button>
            {% if plugin_version('forumify/forumify-milhq-plugin', 'premium') %}
                <button class="btn-link" data-tab-id="operations">{{ 'milhq.opcenter.operations'|trans }}</button>
                {% if is_granted('milhq.frontend.attendance_sheet.view') %}
                    <button class="btn-link" data-tab-id="attendance">{{ 'milhq.opcenter.attendance'|trans }}</button>
                {% endif %}
                <button class="btn-link" data-tab-id="courses">{{ 'milhq.opcenter.courses'|trans }}</button>
            {% endif %}
        {% endblock %}
        {% block tabpanels %}
            {% include '@ForumifyMilhqPlugin/frontend/operations_center/tabs/submissions.html.twig' %}
            {% if plugin_version('forumify/forumify-milhq-plugin', 'premium') %}
                {% include '@ForumifyMilhqPlugin/frontend/operations_center/tabs/operations.html.twig' %}
                {% if is_granted('milhq.frontend.attendance_sheet.view') %}
                    {% include '@ForumifyMilhqPlugin/frontend/operations_center/tabs/attendance.html.twig' %}
                {% endif %}
                {% include '@ForumifyMilhqPlugin/frontend/operations_center/tabs/courses.html.twig' %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
